p{
    padding: 0;
    margin: 0;
}
li{
    list-style: normal;
}
.progress{
    background: url("../img/intelligent_bg.jpg") no-repeat;
    background-size: 100% 100%;
}
.progress img{
    width: 50%;
    position: absolute;
    left: 13%;
    top: 0;
}
.frame-list img{
    width: 87%;
    height: 80%;
}
.home{
    height: 60%;
}
.sight-frame{
    padding-top: 10%;
    padding-left: 5%;
}
